*{
    margin: 0;
    padding: 0;
}

body{
    height: 200vh;
}

header{
    background-color: purple;

}

header h1 {
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 45px;
    font-family:  serif;

}

.image__container {
    display: flex;
    justify-content: space-between;
    margin-left: 65px;
    margin-right: 65px;
}

.card{
    margin-top: 150px;
    
    width: 300px;
    height: 350px;
    
   
}

.card__image{
    height: 100%;
    width: 100%;
    border: 3px purple ridge;
    
}

.card__image img {
    height: 100%;
    width: 100%;

    object-fit: cover;

}
.descricao {
    padding-top: 6px;
    font-family: 'Franklin Gothic Medium'
}


.preco { 
    color: purple;
    font-size:25px;
    font-family: 'Franklin Gothic Medium';
    padding-top: 4px;
}
.preco:hover {
    color: black;
    font-size: 30px;
}